<div class="col">
    <div class="row">

        <div class="col col-lg-4">
            <app-location></app-location>
        </div>

        <div class="details col col-lg-8">

            <div class="datetime mt-2">
                <p class="time display-5">07:32 AM</p>
                <p>Wednesday, 30 May 2022</p>
            </div>

            <div class="days d-flex justify-content-between mx-3 mt-2">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title1</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title2</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title3</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title4</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title5</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title6</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

            </div>

            <div class="condition mx-3 d-flex justify-content-between mt-3">
                <div class="col col-lg-5">
                    <div class="card">

                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>

                <div class="map col col-lg-7 mx-2 ms-1">

                    <div class="card">

                        <div class="card-body mx-auto">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.3512656701796!2d28.016517649397862!3d-26.18524928336503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c0a7f315baf%3A0xfd99d4fabaa7ea6b!2s44%20Stanley%20Ave%2C%20Milpark%2C%20Johannesburg%2C%202092!5e0!3m2!1sen!2sza!4v1653937257921!5m2!1sen!2sza"
                                width="450" height="460" 
                                style="border:0;" allowfullscreen="allow" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>