<div class="col">
    <div class="row">

        <div class="col col-lg-4">
            <app-location></app-location>
        </div>

        <div class="details col col-lg-8">

            <div class="days d-flex justify-content-between mx-3 mt-5">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title1</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title2</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title3</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title4</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title5</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title6</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

            </div>

            <div class="condition mx-3 d-flex justify-content-between mt-5">
                <div class="col col-lg-5">
                    <div class="card">

                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>

                <div class="map col col-lg-6">

                    <div class="card">

                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>